<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div class="text-align:center">
    <h1 id="heading">
      {{ title }}
    </h1>
    <hr width="60%">
  </div>
  <router-outlet></router-outlet>
<div class="footer">
  <p>Follow our journey!</p>
  <a href="https://twitter.com/?lang=en"class="btn btn-social-icon btn-twitter footer-btn">
    <span class="fa fa-twitter"></span>
  </a>
  <a href="https://www.instagram.com/?hl=en"class="btn btn-social-icon footer-btn btn-instagram">
    <span class="fa fa-instagram"></span>
  </a>
  <a href="https://www.pinterest.com/"class="btn btn-social-icon footer-btn btn-pinterest">
    <span class="fa fa-pinterest"></span>
  </a>
  <a href="https://plus.google.com/discover"class="btn btn-social-icon footer-btn btn-google">
    <span class="fa fa-google"></span>
  </a>
  <a href="https://www.facebook.com/" class="btn btn-social-icon footer-btn btn-facebook">
    <span class="fa fa-facebook"></span>
  </a>
</div>
</div>
