
<div class="user-login">
  <form class="log-in-form">
    <div class="input-name">
      <label>User Name</label>
      <input [(ngModel)]="newUsername" name="userNameInput" type="text" id="userName">
    </div>
    <div class="input-password">
      <label>Password</label>
      <input type="text" id="password">
    </div>
    <!-- <button (click)="showName(currentUser)"type="submit" name="button">Log In</button> -->
    <button id="logInButton"(click)="newUserLogin('inputUsernameTemp', 'inputPassword')"type="submit" name="button">Log In</button>
  </form>
</div>
<div class="enter-site">
  <p id="tagline">Dummy text talking about our services</p>
  <a id="enter" routerLink="user-dashboard">Enter Site</a>
</div>
