<div class="user-login">
  <form class="log-in-form">
    <div class="input-name">
      <label>User Name</label>
      <input [(ngModel)]="newUsername" name="userNameInput" type="text" id="userName">
    </div>
    <div class="input-password">
      <label>Password</label>
      <input type="text" id="password">
    </div>
    <a id="enter" routerLink="user-dashboard"><button id="logInButton"(click)="newUserLogin('inputUsernameTemp', 'inputPassword')"type="submit" name="button">Log In</button></a>
  </form>
</div>
<div class="enter-site">
  <p id="tagline">be green, save cash, and get some new-to-you shells</p>
  <a id="market" routerLink="marketplace">Browse Site</a>
</div>
<div class="footer">

</div>
