.input-name, .input-password{
  display: block;
}
input#userName{
  margin-right: 10px;
}
input#userName, input#password{
  margin-top: 5px;
  border: solid 1px #5E6261;
  border-radius: 7px;
  box-shadow:  inset .5px .5px 1.5px #5E6261;
}
.user-login{
  display: flex;
  justify-content: center;
  margin: 30px 0;
}
#logInButton{
  background-color: rgb(140, 223, 229);
  color: #fff;
  border-radius: 7px;
}
#logInButton:hover{
  cursor: pointer;
  color: rgb(247, 104, 32);
  box-shadow: 5px 3px 3px #5E6261;

}
.enter-site{
  min-height: 600px;
  background: no-repeat center url('https://images.unsplash.com/photo-1506495262506-8c4ef383d872?ixlib=rb-0.3.5&s=6fa776af3dbab930e4d6621f07d155d6&auto=format&fit=crop&w=1650&q=80');
}
p#tagline{
  color: #fff;
  font-size: 1.3em;
  padding-top: 20px;
  font-style: italic;
}
#market{
  color: #fff;
  font-size: 2.2em;
  font-weight: bold;
}
#market:hover{
  color: rgb(247, 104, 32);
  text-decoration: none;
  text-shadow: 2px 1px 1px #fff;
}
#twitter{
  background-image: url('https://www.madewell.com/media/assets/footer/socialicons_sprite_v1_m56577569830742556.png');
}
@media (min-width: 950px){
  .user-login{
    display: flex;
    justify-content: flex-end;
  }
  p#tagline{
    font-size: 2.3em;
  }
  #market{
    font-size: 2.6em;
  }
}
