<div class="container">
  <div class="card">
    <div class="card-body">
      <h3 class="card-title">Upload your garment</h3>
      <div class="user-info">
        <label>User Name</label>
        <input type="text" name="userName">
      </div>
      <div class="radio-type">
        <h3>Garment Type</h3>
        <label><input type="radio" name="item-type" value="top">Top</label>
        <label><input type="radio" name="item-type" value="bottom">Bottom</label>
        <label><input type="radio" name="item-type" value="one-piece">One Piece</label>
        <label><input type="radio" name="item-type" value="accessory">Accessory</label>
      </div>
      <div class="radio-size">
        <h3>Size</h3>
        <label><input type="radio" name="item-size" value="xs">Xtra-Small</label>
        <label><input type="radio" name="item-size" value="s">Small</label>
        <label><input type="radio" name="item-size" value="m">Medium</label>
        <label><input type="radio" name="item-size" value="l">Large</label>
        <label><input type="radio" name="item-size" value="xl">Xtra-Large</label>
      </div>
      <div class="checkbox-color">
        <h3>Color/s</h3>
        <label><input type="checkbox" name="item-color" value="red">Red</label>
        <label><input type="checkbox" name="item-color" value="orange">Orange</label>
        <label><input type="checkbox" name="item-color" value="yellow">Yellow</label>
        <label><input type="checkbox" name="item-color" value="green">Green</label>
        <label><input type="checkbox" name="item-color" value="blue">Blue</label>
        <label><input type="checkbox" name="item-color" value="purple">Purple</label>
        <label><input type="checkbox" name="item-color" value="pink">Pink</label>
        <label><input type="checkbox" name="item-color" value="black">Black</label>
        <label><input type="checkbox" name="item-color" value="white">White</label>
        <label><input type="checkbox" name="item-color" value="grey">Grey</label>
        <label><input type="checkbox" name="item-color" value="brown">Brown</label>
      </div>
      <div class="radio">
        <h3>Garment Cut</h3>
        <label><input type="radio" name="item-cut" value="femme">Femme</label>
        <label><input type="radio" name="item-cut" value="masc">Masc</label>
        <label><input type="radio" name="item-cut" value="unisex">Unisex</label>
      </div>
      <div class="radio">
        <h3>Garment Condition</h3>
        <label><input type="radio" name="item-condition" value="new">New</label>
        <label><input type="radio" name="item-condition" value="like-new">Like New</label>
        <label><input type="radio" name="item-condition" value="fair">Fair</label>
      </div>
      <button type="submit" name="button">Save Changes</button>
    </div>
  </div>
  <button type="button" class="marketplace-button">Go to Marketplace</button>
</div>
