.marketplace {
  margin-top: 5%;
}
app-filter {
  display: flex;
  flex-direction: column;
  width: 20%;
  min-width: 225px;
  max-width: 250px;
  float: left;
}

app-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-around;
  width: 80%;
  justify-content: space-around;
  float: right;
}
