app-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-around;width: 75%;
  justify-content: space-around;
  float: right;
  border: 1px solid black;
}
